<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
                            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
	<context:component-scan base-package="com.amudhan.practice*"/>
	<bean id="propertyConfigurer"
          class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
		<property name="locations" value="classpath:/config/test.properties"/>
    </bean>
    <bean id="h2Datasource" class="org.h2.jdbcx.JdbcDataSource">
		<property name="url" value="${datasource.jdbcUrl}"/>
        <property name="user" value="${datasource.user}"/>
        <property name="password" value="${datasource.password}"/>
	</bean>
    <bean id="entityManagerFactoryBean" 
    	class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
    	<property name="dataSource" ref="h2Datasource"/>
    	<property name="packagesToScan" value="com.amudhan.practice*"/>
    	<property name="jpaVendorAdapter">
    		<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
    	</property>
    	<property name="jpaProperties">
    		<props>
    			<prop key="hibernate.dialect">${hibernate.dialect}</prop>
    			<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
    			<!-- <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
    			<prop key="hibernate.hbm2ddl.import_files">${hibernate.hbm2ddl.import_files}</prop> -->
    		</props>
    	</property>
    </bean>
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
    	<property name="entityManagerFactory" ref="entityManagerFactoryBean"></property>
    </bean>
    <tx:annotation-driven transaction-manager = "transactionManager"/>
</beans>